/*
 * Copyright © {{.Year}}. {{.CompanyName}} All Rights Reserved
 */

import { baseURL } from "./BaseURL";
// import router from "./router";

export function InstallHttpInterceptors(Vue) {
	Vue.http.interceptors.push(request => {
		let loading = true;
		let loader = null;

		request.url = baseURL + request.url;

		// if (Vue.prototype.sessionService.isLoggedIn()) {
		// 	request.headers.set("Authorization", `Bearer:${Vue.prototype.sessionService.getSessionToken()}`);
		// }

		setTimeout(() => {
			if (loading) Vue.$loading.show();
		}, 1000);

		return response => {
			loading = false;
			if (loader) loader.hide();

			if (response.status === 403 && response.body === "Session expired") {
				// 	Vue.prototype.sessionService.clearSession();
				// 	router.replace({ name: "login" });
			}
		};
	});
}

