<template>
	<div class="row justify-content-center">
		<div class="col-6">
			<img
				src="../../../assets/images/app-nerds-logo.jpg"
				alt="App Nerds Logo"
				style="width: 100%;"
			/>
		</div>
	</div>
</template>

<script>
/*
 * Copyright © {{.Year}}. {{.CompanyName}} All Rights Reserved
 */
</script>
