## {{.Title}}

This repository houses the {{.Title}} application. {{.Description}}

## Authors

* {{.Email}}

## Environment Variables

To run this project a set of environment variables need to be set in your .env file. 

* `SERVER_HOST` - Default value == `0.0.0.0:8080`
* `LOGLEVEL` - Default value == `debug`
{{if .WantDatabase}}* `DSN` - Set this to a DSN suitable for the database tech chosen
* `GITHUB_TOKEN` - Provide a Github Personal Access token which has access to your private repositories{{end}}

## Run Locally

Step 1: Clone the project

```
git clone {{.GithubSSHPath}}
```

Step 2: Setup and install dependencies

```
cd {{.AppName}}
make setup
```

Step 3: Run the application

```
make run
```

