package main

import (
	"fmt"
	"io/fs"
	"net/http"
	"os"
	"os/exec"
)

/*
getClientAppFileSystem returns a FileSystem based on app version. When using
"go run ." the version is "development", and will return the local disk
file system. When built with a version number specified static assets are
embedded, and that is returned as a file system.
*/
func getClientAppFileSystem(useOS bool) http.FileSystem {
	if useOS {
		return http.FS(os.DirFS("app/dist"))
	}

	fsys, err := fs.Sub(appFs, "app/dist")

	if err != nil {
		panic("Unable to load application static assets: " + err.Error())
	}

	return http.FS(fsys)
}

/*
startClientApp runs your NodeJS client app found in the "app" directory
*/
func startClientApp() (*exec.Cmd, error) {
	var err error

	cmd := exec.Command("npm", "run", "serve")
	cmd.Dir = "./app"
	cmd.Stdout = os.Stdout

	if err = cmd.Start(); err != nil {
		return cmd, fmt.Errorf("error starting NPM: %w", err)
	}

	return cmd, nil
}

