/*
 * Copyright © {{.Year}}. {{.CompanyName}} All Rights Reserved
 */

package controllers

import (
	"net/http"

	"{{.GithubPath}}/internal/configuration"
	"github.com/app-nerds/nerdweb"
	"github.com/sirupsen/logrus"
)

/*
VersionController describes methods for handling requests related to
version information.
*/
type VersionController interface {
	GetVersion(w http.ResponseWriter, r *http.Request) 
}

/*
VersionHandlers provides methods for handling requests related to
version information.
*/
type VersionHandlers struct {
	Config Config
	Logger *logrus.Entry
}

/*
GetVersion returns the version of this server in the following format:

  {
    "version": "1.0.0"
  }
*/
func (c VersionHandlers) GetVersion(w http.ResponseWriter, r *http.Request) {
	result := map[string]string{
		"version": c.Config.Version,
	}

	nerdweb.WriteJSON(c.Logger, w, http.StatusOK, result)
}

