package testhelpers

import (
	"{{.GithubPath}}/internal/configuration"
	"github.com/sirupsen/logrus"
)

func NewConfig() configuration.Config {
	return configuration.Config{
		Version:         "version",
		ServerHost:      "serverhost",
		ServerLogLevel:  logrus.InfoLevel,
		ServerCert:      "servercert",
		DatabaseURL:     "databaseurl",
		DatabaseTimeout: 60,
	}
}

func NewLogger() *logrus.Entry {
	return logrus.New().WithField("who", "testing")
}

