version: '3'

services:
  starter:
    container_name: {{.AppName}}
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    depends_on:
      - postgres
    networks:
      - front-end{{if .WantDatabase}}
      - back-end{{end}}
    ports:
      - '8080:8080'
    env_file:
      - ./.env
{{if .WantDatabase}}
  postgres:
    image: postgres:13-alpine
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - postgres:/data/postgres
      - ./devops/sql/create.sql:/docker-entrypoint-initdb.d/create.sql
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    networks:
      - back-end{{end}}

{{if .WantDatabase}}volumes:
  postgres:{{end}}

networks:
  front-end:{{if .WantDatabase}}
  back-end:{{end}}

